appdirs==1.4.0
aubio==0.4.4
autopep8==1.2.4
cffi==1.9.1
decorator==4.0.11
flake8==3.3.0
importmagic==0.1.7
ipython==5.2.2
ipython-genutils==0.1.0
jedi==0.10.0
llist==0.4
mccabe==0.6.1
numpy==1.12.0
packaging==16.8
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
PyAudio==0.2.10
pycodestyle==2.3.1
pycparser==2.17
pyflakes==1.5.0
pygame==1.9.3
Pygments==2.2.0
pyparsing==2.1.10
simplegeneric==0.8.1
six==1.10.0
sounddevice==0.3.7
traitlets==4.3.2
wcwidth==0.1.7
yapf==0.16.0
